:root {
    --primary: #5c9963;
    --white: #ffffff;
    --black: #000000;
    --header: #074E37;
    --footer: #3D6642;
}

.bg_black_transparent{
    background-color: rgba(0, 0, 0, 0.5);
}

.bg-header{
    background-color: var(--header);
}

.main_header{
    background-color: var(--header);
}

.bg-footer{
    background-color: var(--footer);
}

.main_header div.collapse ul.navbar-nav li.nav-item a{
    color: var(--white) !important;
    font-weight: 400;
}

.main_header div.collapse ul.navbar-nav li.nav-item ul.dropdown-menu li a.dropdown-item{
    background-color: var(--header);
    color: var(--white);
}

.main_header .dropdown-menu[data-bs-popper]{
    top: 180%;
}

.main_header div.collapse ul.navbar-nav li.nav-item a:hover{
    color: #ffae00 !important;
}

.main_header div.collapse ul.navbar-nav li.nav-item a.active{
    color: #ffae00 !important;
    font-weight: 500;
}

.btn_slider{
    background-color: var(--white);
    color: var(--black);
    transition: all 0.5s;
}

.btn_slider:hover{
    background-color: var(--primary);
    color: var(--white);
}

.main_slider .carousel-indicators [data-bs-target]{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    /* background-color: var(--header); */
}

/* .main_slider .carousel-control-prev{
    top: 70%;
    left: 75%;
} */

.main_slider .carousel-control-prev .fa-chevron-left{
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

/* .main_slider .carousel-control-next{
    top: 70%;
    right: 5%;
} */

.main_slider .carousel-control-next .fa-chevron-right{
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.text-main{
    color: var(--primary);
}

.itembtn{
    border: 1px solid var(--primary);
    border-radius: 25px;
    padding: 7px 15px;
    font-weight: 500;
    transition: all 0.5s;    
}

.itembtn:hover{
    background-color: var(--primary);
    color: var(--white);
}

.start1{
    left: 20px;
}

.start1{
    left: 20px;
}

.top1{
    top: 10px;
}

.top2{
    top: 80px;
}

.divider{
    border-top: 1px solid #f2f2f2;
}

.divider span.mainborder{
    width: 40px;
    height: 2px;
    background-color: var(--primary);
    border-top: 4px solid var(--primary);
}

.itemboxhover{
    border-radius: 20px;
    background-color: #E7E3E3;
    transition: all 0.5s;
}

.itemboxhover:hover{
    /* background-color: #E7E3E3;
    opacity: 0.8; */
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

.itemboxhover img{
    border-radius: 20px 20px 0 0;
}

.apple{
    width: 250px;
    height: 250px;
    background-color: #FEEFA3;
    border-radius: 100%;
}

.apple img{
    transition: all 0.5s;
}

.apple:hover img{
    transform: scale(1.1);
}

.fruitdes h3{
    transition: all 0.5s;
}

.fruitdes h3:hover{
    color: var(--primary);
}

.footer_icon a{
    text-decoration: none;
    color: var(--white) !important;
}

.footer_icon i{
    background-color: var(--white);
    color: var(--primary);
    padding: 5px;
    border-radius: 50px;
}

